* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
}

.container{
    width: 935px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(255, 251, 251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-area{
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    height: 54px;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 30px;
    background-color: #fff;
    & .header{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 935px;
    }
    & .header-logo-area{
        display: flex;
        align-items: center;    
        justify-content: center;
        & .header-logo{
            height: 29px;
            width: 103px;
        }
    }
    & .header-search{
        height: 28px;
        width: 215px;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        border-radius: 5px;
        user-select: auto;
        border: 1px solid rgb(219, 219, 219);
        &::placeholder{
        text-align: center;
        }
    }
    & .button-group{
        & .header-btn {
            margin-right: 10px;
            margin-left: 10px;
        }
        & .header-zuckerberg img{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.main-content{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: 20px;
    overflow: hidden;
    & .user-flow-area{
        height: 700px;
        width: 350px;
        border: 1px solid rgb(219, 219, 219);
        & .account-info{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 60px;
            width: 350px;
            padding: 20px;
            & a{
                display: flex;
                align-items: center;
                & p{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    margin-right: 5px;
                    color: #000;
                }
                & img{
                    height: 20px;
                    width: 20px;
                }
            }
            & .write-message{
                margin-left: 50px;
                height: 24px;
                width: 24px;
                cursor: pointer;
            }
        }

        & .user-flow{
            height: 640px;
            width: 350px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            & .message-type{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 45px;
                width: 350px;
                padding: 0 5px;
                border-top: 1px solid rgb(219, 219, 219);
                border-bottom: 1px solid rgb(219, 219, 219);
                &-primary{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 110px;
                    height: 45px;
                    color: #8e8e8e;
                    border-bottom: none;
                    transition: all .3s;
                    &:hover{
                        border-bottom: 1px solid #000;
                        color: #000;
                    }
                }
                &-general{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 110px;
                    height: 45px;
                    color: #8e8e8e;
                    border-bottom: none;
                    transition: all .3s;
                    &:hover{
                        border-bottom: 1px solid #000;
                        color: #000;
                    }
                }
                &-requests{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 110px;
                    height: 45px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #0095f6;
                    border-bottom: none;
                    transition: all .3s;
                    &:hover{
                        border-bottom: 1px solid #0095f6;
                    }
                }
            }
            & .users{
                height: 595px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                overflow-y: scroll;
                & .user{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 10px;
                    &-img{
                        height: 56px;
                        width: 56px;
                        margin-right: 15px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    & .user-info{
                        & a{
                            color: #000;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 400;
                        }
                    }
                    & .message-info{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        & p{
                            font-size: 14px;
                            font-weight: 400;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            color: #8e8e8e;
                        }
                        & .point{
                            height: 3px;
                            width: 3px;
                            background-color: #8e8e8e;
                            border-radius: 50%;
                            transform: translateY(50%);
                        }
                    }
                }
            }
        }


    }
    & .message-area{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        width: 585px;
        border: 1px solid rgb(219, 219, 219);
        border-left: none;
        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & .img-area{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 94px;
                width: 94px;
                border-radius: 50%;
                border: 2px solid #000;
                margin-bottom: 20px;
                & img{
                    height: 50px;
                    width: 50px;
                    transform: translateX(-10%);
                    transform: translateY(10%);
                }
            }

            & .message-area-desc{
                text-align: center;
                & .message-area-desc-title{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }

                & .message-area-description{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    color: #8e8e8e;
                    margin-bottom: 30px;
                }
            }

            & .message-area-btn{
                height: 30px;
                width: 120px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                color: #fff;
                background-color: #0095f6;
                border: none;
                border-radius: 7px;
                cursor: pointer;
            }
        }
    }
}