* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
}

.container{
    width: 935px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 0;
}

.header-area{
    position: fixed;
    top: 0;
    display: flex;
    height: 54px;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 30px;
    background-color: #fff;
    z-index: 999;
    & .header{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 935px;
    }
    & .header-logo-area{
        display: flex;
        align-items: center;    
        justify-content: center;
        & .header-logo{
            height: 29px;
            width: 103px;
        }
    }
    & .header-search{
        height: 28px;
        width: 215px;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        border-radius: 5px;
        user-select: auto;
        border: 1px solid rgb(219, 219, 219);
        &::placeholder{
        text-align: center;
        }
    }
    & .button-group{
        display: flex;
        & .header-btn {
            cursor: pointer;
            margin-right: 10px;
            margin-left: 10px;
            &.like{
                position: relative;
                &[data-is-like=true]{
                    &::after{
                        position: absolute;
                        content: "";
                        top: -8px;
                        right: 2px;
                        height: 9px;
                        width: 9px;
                        border-radius: 50%;
                        background-color: red;
                    }
                }
            }
        }
        & .header-zuckerberg img{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
        & .likes{
            position: relative;
            & .likes-dropdown{
                position: absolute;
                top: 40px;
                right: -40px;
                background-color: #fff;
                box-shadow:0 -2px 5px rgba(#c7c5c5, .5);
                border-radius: 5px;
                display: none;
                &-wrapper{
                    height: 362px;
                    width: 500px;
                    overflow-y: scroll;
                }
                & li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 95px;
                    padding: 16px;
                    cursor: pointer;
                    border-bottom: 1px solid rgba(219, 219, 219, 1);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    & .user-info{
                        display: flex;
                        align-items: center;
                        & .dropdown-user-image{
                            height: 44px;
                            width: 44px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 10px;
                        }
                    }
                    & .interaction{
                        & .interaction-img{
                            height: 40px;
                            width: 40px;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        & .interaction-btn{
                            height: 30px;
                            width: 62px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 600;
                            background-color: #0095f6;
                            border: none;
                            border-radius: 5px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
                &::after{
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    top: -11px;
                    right: 49px;
                    z-index: 1;
                    border-right: 12px solid transparent;
                    border-left: 12px solid transparent;
                    border-bottom: 12px solid #fff ;
                    filter: drop-shadow(0 -2px 2px rgba(#c7c5c5, .5));
                }
            }
            & input{
                display: none;
                &:checked ~ .likes-dropdown{
                    display: block;
                }
            }
        }
        & .profile-btn{
            position: relative;
            & .profile-dropdown{
                position: absolute;
                top: 40px;
                right: -18px;
                height: 194px;
                width: 230px;
                background-color: #fff;
                box-shadow:0 -2px 5px rgba(#c7c5c5, .5);
                z-index: 1;
                border-radius: 5px;
                display: none;
                & li{
                    height: 37px;
                    width: 237px;
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    cursor: pointer;
                    & .option-logo{
                        margin-right: 10px;
                        height: 16px;
                        width: 16px;
                    }
                    & a{
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        color: #000;
                    }
                    &:nth-last-child(1){
                        border-top: 1px solid rgba(219, 219, 219, 1);
                    }
                }
                &::after{
                    position: absolute;
                    content: "";
                    height: 0;
                    width: 0;
                    top: -11px;
                    right: 27px;
                    border-right: 12px solid transparent;
                    border-left: 12px solid transparent;
                    border-bottom: 12px solid #fff ;
                    filter: drop-shadow(0 -2px 2px rgba(#c7c5c5, .5));
                }
            }
            & input{
                display: none;
                &:checked ~ .profile-dropdown{
                    display: block;
                }
            }
        }
    }
}

.main-content{
    margin-top: 40px;
    display: flex;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    & .side-menu{
        &-wrapper{
            display: flex;
            flex-direction: column;
            height: 841px;
            width: 237px;
            border-right: 1px solid rgba(var(--ca6,219,219,219),1);
            background-color: #fff;
            &-section-desc{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 187px;
                width: 237px;
                background-color: #fff;
                border-top: 1px solid rgba(var(--ca6,219,219,219),1);
                border-right: 1px solid rgba(var(--ca6,219,219,219),1);
                padding: 20px;
                &-title{
                    font-weight: 600 !important;
                }
                & p{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                & a{
                color: #0095f6;
                margin-bottom: 10px;
                }
            }
        }
        &-list-wrapper{
            height: 654px;
            width: 100%;
            & input{
                position: absolute;
                top: -9999px;
                left: -9999px;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                &:checked + label .side-menu-option{
                    border-left: 2px solid #000;
                    & p{
                        font-weight: 600;
                    }
                }
            }
        }
        &-option{
            height: 52px;
            width: 236px;
            padding-left: 30px;
            margin-bottom: 5px;
            border-left: 2px solid transparent;
            cursor: pointer;
            &:hover{
                background-color: #f1eeee;
                border-left: 2px solid rgb(190, 190, 190);
            }
            & p{
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #000;
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            height: 841px;
            width: 696px;
            background-color: #fff;
            & .profile{
                &-info{
                    display: flex;
                    height: 42px;
                    padding-left: 100px;
                    margin-bottom: 20px;
                }
                &-img{
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    margin-right: 30px;
                }
                &-name{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    margin-bottom: 2px;
                }
                &-photo-change{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 600;
                    color: #0095f6;
                }
            }
            & .user{
                &-information{
                    display: flex;
                    margin-bottom: 20px;
                    &-title-wrapper{
                        width: 172px; // 192px den 172px e dönüştürüldü.
                        height: auto;
                        text-align: right;
                        padding-right: 50px;
                    }
                    &-desc{
                        width: 524px;
                        &-title{
                            width: 350px;
                            height: 32px;
                            padding: 5px;
                            margin-bottom: 15px;
                            font-size: 16px;
                            user-select:auto;
                        }
                        &-content{
                            width: 350px;
                            font-size: 12px;
                            color: rgba(var(--f52,142,142,142),1);
                            & a{
                                color: #0095f6;
                            }
                        }
                        &-textarea{
                            width: 350px;
                            height: 60px;
                            resize: none;
                            padding: 5px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 16px;
                            user-select:auto;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            & .submit-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 75px;
                border-radius: 5px;
                background-color: #0095f6;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                margin-left: 172px;
            }
            & .edit-profile{
                display: block;
            }
            & .change-password{
                display: none;
                &-profile-info{
                    display: flex;
                    align-items: center;
                    padding-left: 100px;
                    margin-bottom: 40px;
                }
                &-profile-img{
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 30px;
                }
                &-profile-name{
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                }
                &-area{
                    &-old{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        &-title{
                            text-align: right;
                            margin-right: 30px;
                            width: 100px;
                            margin-left: 40px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        & input{
                            width: 442px;
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid rgba(var(--b38,219,219,219),1);
                            padding: 5px 10px;
                            user-select: auto;
                        }
                    }
                    &-new{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        &-title{
                            text-align: right;
                            margin-right: 30px;
                            width: 100px;
                            margin-left: 40px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        & input{
                            width: 442px;
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid rgba(var(--b38,219,219,219),1);
                            padding: 5px 10px;
                            user-select: auto;
                        }
                    }
                    &-confirm{
                        display: flex;
                        align-items: center;
                        margin-bottom: 50px;
                        &-title{
                            text-align: right;
                            margin-right: 30px;
                            width: 100px;
                            margin-left: 40px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        & input{
                            width: 442px;
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid rgba(var(--b38,219,219,219),1);
                            padding: 5px 10px;
                            user-select: auto;
                        }
                    }
                    &-button{
                        height: 30px;
                        width: 130px;
                        border-radius: 5px;
                        border: none;
                        color: #fff;
                        background-color: #0095f6;
                        margin-left: 172px;
                        font-weight: 600;
                        font-style: 14px;
                        line-height: 18px;
                        cursor: pointer;
                    }
                }
            }

        }
    }


}
