.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    & .sign-up-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 570px;
        width: 350px;
        margin-top: 12px;
        background-color: #fff;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        padding: 20px 0;
        margin-bottom: 10px;
        & .sign-up-area-input-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        & .instagram-logo{
            width: 175px;
        }

        & .sign-message{
            height: 40px;
            width: 268px;
            text-align: center;
            color: rgba(var(--f52,142,142,142),1);
            font-size: 17px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 20px;
        }

        & .with-facebook-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            height: 32px;
            width: 268px;
            background-color: #0095f6;
            border-radius: 5px;
            margin-bottom: 20px;
            & a{
                height: 32px;
                width: 268px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 14px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                line-height: 18px;
                color: #fff;
                text-decoration: none;
                & .img-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 16px;
                    width: 16px;
                    background-color: #fff;
                    margin-right: 6px;
                    & img{
                        height: 14px;
                        width: 14px;
                    }
                }
            }
        }

        & .login-area-or{
            position: relative;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: rgba(var(--f52,142,142,142),1);
            margin-bottom: 20px;
            &::after{
                position: absolute;
                content: "";
                top: 50%;
                left: 35px;
                height: 1px;
                width: 107px;
                background-color: rgba(var(--f52,142,142,142),1);
            }
            &::before{
                position: absolute;
                content: "";
                top: 50%;
                right: 35px;
                height: 1px;
                width: 107px;
                background-color: rgba(var(--f52,142,142,142),1);
            }
        }

        & input{
            height: 38px;
            width: 268px;
            border: none;
            border: 1px solid rgba(var(--ca6,219,219,219),1);
            padding: 5px;
            outline: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgba(var(--f52,142,142,142),1);
            background: rgba(var(--b3f,250,250,250),1);
            &:nth-child(n){
                margin-bottom: 6px;
            }
            &[type=password]{
                margin-bottom: 15px;
            }
        }

        & .sign-up-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            height: 32px;
            width: 268px;
            background-color: #0095f6;
            border-radius: 5px;
            margin-bottom: 20px;
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            font-size: 14px;
        }

        & .instagram-policy{
            height: 32px;
            width: 268px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: rgba(var(--f52,142,142,142),1);
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
        }
    }
    & .have-an-account{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 63px;
        width: 350px;
        background-color: #fff;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        border-radius: 3px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #385185;
        & a{
            color: #0095f6;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            font-size: 14px;
        }
    }
    & .get-app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 350px;
        & p{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 15px;
        }
        & img{
            cursor: pointer;
            height: 40px;
            width: 136px;
            &:nth-last-child(1){
                margin-left: 5px;
            }
        }
    }
}

.tags{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    & .support-tags{
    display: flex;
    margin-bottom: 10px;
    & a{
        color: rgba(var(--f52,142,142,142),1);
        &:nth-last-child(n){
            margin-right: 10px;
        }
    }
    }
    & .copyright{
        color: rgba(var(--f52,142,142,142),1);
    }
}